mat-card {
  width: 70%;
  margin: auto;
}

h3 {
  color: #070707;
  font-weight: 800;
  font-size: 1.5rem;
}

h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
  color: green;
}
