  <div class="login-page">
    <div class="form">
      <form [formGroup]="PlayerForm">
        <mat-form-field>
          <input matInput type="text" placeholder="Player first name" formControlName="playerFirstName">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Player last name" formControlName="playerLastName">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Parent first name" formControlName="parentFirstName">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Parent last name" formControlName="parentLastName">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Parent phone" formControlName="parentPhone">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Height in years" formControlName="playerHeight">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Weight in kgs" formControlName="playerWeight">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Age in years" formControlName="playerAge">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Health Status" rows="6" formControlName="playerHealthStatus"></textarea>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Player school" type="text" formControlName="playerSchool">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Player residence" type="text" formControlName="playerResidence">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Player ID" type="text" formControlName="playerADM">
        </mat-form-field>
        <!-- <mat-form-field>
          <input matInput placeholder="password" type="text" formControlName="password">
        </mat-form-field> -->
        <button mat-raised-button color="primary" type="button" [disabled]="PlayerForm.invalid" (click)="onSubmit()">Submit</button>
        <p>{{ errorMessage }}</p>
      </form>
    </div>
  </div>
<!-- </mat-card> -->
